<!DOCTYPE html>
<html>
<head>
	<title>Django Video Membership</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

	{% include 'courses/messages.html' %}

	<div class="container">
		<ol class='breadcrumb'>
	        <li><a href="{% url 'memberships:profile' %}">Profile</a></li>
	        
	        {% block post_detail_link %}
	        {% endblock %}

	        {% if not request.user.is_authenticated %}
	        <li class='pull-right'><a href='/register'>Register</a></li>
	        <li class='pull-right'><a href='/login'>Login</a></li>
	        {% else %}
	        <li class='pull-right'><a href='/memberships'>Memberships</a></li>
	        {% endif %}
	    </ol>
	</div>

	{% block content %}
	{% endblock content %}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>